

@import "content/variables";

body {
  color: $text-color;
  font-size: $base-font-size;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
}

.base--a {
  text-decoration: none;
  color: inherit;
}

.base--p {
  margin: 20px 0;
}

.base--h1 {
  font-size: 15px;
  font-weight: 900;
  color: $charcoal;
}

.base--h2 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
}

.post-input {
  background: $light-yellow;
}

.base--submit {
  cursor: pointer;
  background: none;
  border: 2px solid $charcoal;
  padding: 5px 30px;
  font-size: 15px;
  float: right;
}

.base--textarea {
  background: none;
  border: none;
  overflow: auto;
  outline: none;
  // -webkit-box-shadow: none;
  // -moz-box-shadow: none;
  // box-shadow: none;
  width: 100%;
  resize: none;
  color: $grey;
  min-height: 200px;
  @include box-shadow(none);
}
