
//////////////////////////////
// section Layout Extendable Classes
//////////////////////////////

%_section {
  padding: 30px;
}

%_section--primary {
  @extend %_section;
  @include grid-span(2, 1);
  @include breakpoint($bkpt-1) {
    @include grid-span(1, 1);
  }
}

%_section--secondary {
  @extend %_section;
  @include grid-span(2, 1);
  @include breakpoint($bkpt-1) {
    @include grid-span(2, 2);
  }
}

%_section--STREAM-HEADER {
  @extend %_section--secondary;
  padding: 18px 60px 16px;
}

%_section--LEFT-BOX {
  @extend %_section--primary;
  clear: left;
}

%_section--POST-BOX {
  @extend %_section--LEFT-BOX;
  @include eq('large') {
    // display: block;
    display: none;
  }

  @include eq('small') {
    display: none;
  }
  // &[data-eq-state="large"] {
  //   display: none;
  // }
  // &[data-eq-state="small"] {
  //   display: none;
  // }
}
