<article class="stream-item">
  <div class="count-container">
    <img class="like-icon" src="images/pp_icon_unclicked_01.png">
    <span class="like-count hide-desktop">32</span>
  </div>
  <div class="stream-content">
    <p class="main-stream-text">Sunsets are beautiful.</p>
    <p class="info-stream-text">NEW YORK • Right Now • <a class="base--a" href="">Not positive? Click to flag.</a> • Tweet • <span class="stream-item--post-count">32 positive vibes</span></p>
  </div>
</article>

<article class="stream-item">
  <div class="count-container">
    <img class="like-icon" src="images/pp_icon_unclicked_01.png">
    <span class="like-count hide-desktop">32</span>
  </div>
  <div class="stream-content">
    <p class="main-stream-text">There's nothing better than an email from a good friend.</p>
    <p class="info-stream-text">NEW YORK • 7m ago • <a class="base--a" href="">Not positive? Click to flag.</a> • Tweet • <span class="stream-item--post-count">32 positive vibes</span></p>
  </div>
</article>

<article class="stream-item">
  <div class="count-container">
    <img class="like-icon" src="images/pp_icon_active_01.png">
    <span class="like-count hide-desktop">32</span>
  </div>
  <div class="stream-content">
    <p class="main-stream-text">Cheeseburgers are just plain amazing.</p>
    <p class="info-stream-text">OHIO • 8m ago • <a>Not positive? Click to flag.</a> • <a>Tweet</a> • <span class="stream-item--post-count">32 positive vibes</span></p>
  </div>
</article>

<article class="stream-item">
  <div class="count-container">
    <img class="like-icon" src="images/pp_icon_unclicked_01.png">
    <span class="like-count hide-desktop">32</span>
  </div>
  <div class="stream-content">
    <p class="main-stream-text">Life is fantastic. So is my dog. She smells good!</p>
    <p class="info-stream-text">VERMONT • 14m ago • <a>Not positive? Click to flag.</a> • <a>Tweet</a> • <span class="stream-item--post-count">32 positive vibes</span></p>
  </div>
</article>

<article class="stream-item">
  <div class="count-container">
    <img class="like-icon" src="images/pp_icon_unclicked_01.png">
    <span class="like-count hide-desktop">32</span>
  </div>
  <div class="stream-content">
    <p class="main-stream-text">Life is fantastic. So is my dog. She smells good!</p>
    <p class="info-stream-text">VERMONT • 14m ago • <a>Not positive? Click to flag.</a> • <a>Tweet</a> • <span class="stream-item--post-count">32 positive vibes</span></p>
  </div>
</article>

<article class="stream-item">
  <div class="count-container">
    <img class="like-icon" src="images/pp_icon_unclicked_01.png">
    <span class="like-count hide-desktop">32</span>
  </div>
  <div class="stream-content">
    <p class="main-stream-text">Life is fantastic. So is my dog. She smells good!</p>
    <p class="info-stream-text">VERMONT • 14m ago • <a>Not positive? Click to flag.</a> • <a>Tweet</a> • <span class="stream-item--post-count">32 positive vibes</span></p>
  </div>
</article>

<article class="stream-item">
  <div class="count-container">
    <img class="like-icon" src="images/pp_icon_unclicked_01.png">
    <span class="like-count hide-desktop">32</span>
  </div>
  <div class="stream-content">
    <p class="main-stream-text">Life is fantastic. So is my dog. She smells good!</p>
    <p class="info-stream-text">VERMONT • 14m ago • <a>Not positive? Click to flag.</a> • <a>Tweet</a> • <span class="stream-item--post-count">32 positive vibes</span></p>
  </div>
</article>
