<article class="stream-item">
  {{ Time }}
  <div class="count-container">
    <!-- <img class="like-icon" src="images/pp_icon_unclicked_01.png"> -->
    <figure class="like-icon-container">
      <img class="like-icon hide-desktop" src="images/pp_mobile_post-unclicked.png">
      <img class="like-icon hide-mobile" src="images/pp_icon_unclicked_01.png">
    </figure>
    <span class="like-count hide-desktop"> {{ Vibes }}</span>
  </div>
  <div class="stream-content">
    <p class="main-stream-text">{{ Text }}</p>
    <p class="info-stream-text">{{ Location }} • {{ Time }} • <a class="base--a remove_stream_item" href="">Not positive? Click to flag.</a>
      •
        <a class="base--a" href="https://twitter.com/share?text={{Text}}&via=thepositivepub">Tweet</a>
      •

      <span class="stream-item--post-count">{{ Vibes }} positive vibes</span></p>
  </div>
</article>
