.stream-header {
  background: $white;
  color: $yellow;
  border-bottom: 3px solid $yellow;

  &--post-count {
    color: $charcoal;
    display: inline-block;
    float: right;
    line-height: 24px;
  }
}

.stream-title {
  display:inline-block;
  line-height:24px;
}
