
.stream-item {
  margin-bottom: 30px;
  @include clearfix;
}

.main-stream-text {
  font-size: 48px;
  color: $black;
  font-weight: 900;
  line-height: 1.3;
  margin-bottom: 10px;
}

.info-stream-text {
  color: $light_grey;
}

.post-icon {
  float: right;
  &:hover {
    cursor: pointer;
  }
}

.like-icon {
  width: 50%;
  margin-top: 16px;
  &:hover {
    cursor: pointer;
  }
  @include breakpoint($bkpt-1) {
    width: 90%;
  }
}

.like-count {
  color: $charcoal;
  display: block;
  text-align: center;
  @include breakpoint($bkpt-1) {
    display: none;
  }
}

.stream-item--post-count {
  color: $charcoal;
}
